BasedOnStyle: Webkit
BreakBeforeBraces: Mozilla

Standard: Auto
NamespaceIndentation: None
PointerAlignment: Left
AlwaysBreakAfterReturnType: TopLevel
SortIncludes: false
SortUsingDeclarations: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceBeforeCpp11BracedList: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: DontAlign

AccessModifierOffset: -4
ContinuationIndentWidth: 4
IndentWidth: 4
TabWidth: 4
UseTab: Never
